.login-page {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./desk-3139127_1920.jpg');
}
.meng{
    position: absolute;
    /* z-index: 2;  */
    height: 100%;
    width: 100%;
    background-color: #21212166;
}
.inner{
    height: 450px;
    width: 450px;
    /* background-color: #EB6113FF; */
    margin: 250px auto 0px;
}