.logo {
    height: 32px;
    overflow: hidden;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    color: aliceblue;
}
.page .path {
    margin: 16px 0;
    font-size: 14px;
}
